/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.timer {
  display: flex;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
  text-transform: uppercase;
}
#datetime-picker {
  margin-right: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 12px;
  outline-offset: 4px;
    outline-color: transparent;
}
#datetime-picker:hover {
  border: 1px solid #000;
}
#datetime-picker:active {
  border: 1px solid #4e75ff;
}
#datetime-picker:disabled{
  border: 1px solid #808080;
}

.btn {
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #989898;
  border-color: transparent;
  color: #fff;
}
.btn:hover {
  background: #6c8cff;
}
.btn:disabled {
  background: #cfcfcf;
  color: #989898;
}


/* Snackbar */

.input-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
margin-bottom: 16px;
}

.input-text {
  border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 40px;
outline-offset: 4px;
outline-color: transparent;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
padding-left: 16px;
transition: border-color 300ms ease-in-out;
}
.input-text:hover {
  border-color: #000;
}
.input-text:active {
  border-color:  #4e75ff;

}
.btn {
  margin-top: 24px;
  border-radius: 8px;
padding: 8px 16px;
width: 360px;
background: #4e75ff;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
transition: background 300ms ease-in-out;
}
.btn:hover {
  background: #6c8cff;
}

.field-title {
 
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}
.field-form {
  width: 360px;
  border-radius: 4px;
  border-width: 1px;
border-color: #808080;
transition: border-color 300ms ease-in-out;
margin-left: 0;
margin-right: 0;
display: flex;
justify-content:center;
gap: 48px;
/* padding: 0; */
/* padding-bottom: 8px;
padding-top: 24px;
padding-left: 20px; */
}

.field-form:hover,
.field-form:active {
  border-color: #000;
}
.radio-label
.radio-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
